# Backend Python
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/venv/
backend/env/
backend/.venv/
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Notebooks (no subir los archivos reales)
# backend/notebooks/
# notebooks/
# Entorno virtual
mi_entorno/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/build/
frontend/coverage/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
